<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js'></script>


<div class="container-fluid px-0 px-sm-4 mx-auto" style="padding: 100px;*">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-10">
            <div class="card border-0">
                <form autocomplete="off">
                    <div class="card-header bg-dark" style="text-align: -webkit-center">
                        <div class="input-group date" id="datepicker" style="width: 500px">
                            <input class="form-control" placeholder="MM/DD/YYYY" id="fecha" /><span class="input-group-append input-group-addon"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
                        </div>
                    </div>
                    <div class="card-body p-3 p-sm-5">
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:00AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:30AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:45AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:00AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:30AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:45AM</div></div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:00AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:30AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:45AM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:00PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:30PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:45PM</div></div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:00PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:30PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:45PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:00PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:30PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:45PM</div></div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">3:00PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">3:30PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">4:15PM</div></div>
                            <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">5:00PM</div></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<button type="button" class="alert-success" onclick="ReservarCita()">Reservar Cita!</button>

<script>
    $(document).ready(function () {
        // Configuración del datepicker
        $("#dp1").datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            startDate: '0d'
        });

        // Selección de hora
        $('.cell').click(function () {
            $('.cell').removeClass('select');
            $(this).addClass('select');
        });
    });
    function ReservarCita() {
        // Obtener la fecha seleccionada
        var fecha = $('#fecha').val();

        // Realizar la lógica de reserva aquí...
        // Puedes usar la variable 'fecha' para enviar al servidor o realizar otras operaciones.
        alert('Fecha seleccionada: ' + fecha);

        // Ejemplo de llamada Ajax
        $.ajax({
            url: "/TuControlador/TuAccion",
            type: "POST",
            data: { fecha: fecha },
            success: function (result) {
                // Manejar la respuesta del servidor
            },
            error: function (error) {
                // Manejar errores si los hay
            }
        });
    }
</script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css'>

@*    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
@*    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>*@

    @*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@
   @* <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js'></script>

    <title>Datepicker Example</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="content">
                    <h1>DateTimePicker Styles</h1>
                    <div class="form-group">
                        <label>Date</label>
                        <div class="input-group date" id="datepicker">
                            <input class="form-control" placeholder="MM/DD/YYYY" /><span class="input-group-append input-group-addon"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Time</label>
                        <div class="input-group time" id="timepicker">
                            <input class="form-control" placeholder="HH:MM AM/PM" /><span class="input-group-append input-group-addon"><span class="input-group-text"><i class="fa fa-clock"></i></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        if (/Mobi/.test(navigator.userAgent)) {
            // if mobile device, use native pickers
            $(".date input").attr("type", "date");
            $(".time input").attr("type", "time");
        } else {
            // if desktop device, use DateTimePicker
            $("#datepicker").datetimepicker({
                useCurrent: false,
                format: "DD-MMM-YYYY",
                showTodayButton: true,
                icons: {
                    next: "fa fa-chevron-right",
                    previous: "fa fa-chevron-left",
                    today: 'todayText',
                }
            });
            $("#timepicker").datetimepicker({
                format: "LT",
                icons: {
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down"
                }
            });
        }
    </script>

</body>
</html>
